*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope",sans-serif;
}

:root{
  --clr-light-cyan: hsl(193, 38%, 86%);
  --clr-neon-green: hsl(150, 100%, 66%);
  --clr-grayish-blue: hsl(217, 19%, 38%);
  --clr-dark-grayish-blue: hsl(217, 19%, 24%);
  --clr-dark-blue: hsl(218, 23%, 16%);
}

body{
  background: var(--clr-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 600px;
  height: 370px;
  background: var(--clr-dark-grayish-blue);
  margin-top: 200px;
  margin-bottom: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
}

.advice-id{
  color: var(--clr-neon-green);
  font-size: .8em;
  letter-spacing: 4px;
}

.advice-text{
  color: var(--clr-light-cyan);
  text-align: center;
}

.divider-mobile{
  display: none;
}

.advice-btn{
  position: absolute;
  width: 65px;
  height: 65px;
  top: 540px;
  cursor: pointer;
  background: var(--clr-neon-green);
  border: none;
  padding-top: 5px;
  border-radius: 50%;
}

.advice-btn:hover{
  box-shadow: 0em 0em 4em var(--clr-neon-green);
}

@media (max-width: 650px){
  .container{
    width: 350px;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
  }

  .advice-text{
    font-size: 1.5em;
  }

  .divider-desktop{
    display: none;
  }
  .divider-mobile{
    display: block;
    margin-bottom: 10px;
  }

  .advice-btn{
    top: 370px;
  }
}